<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing user</title>
</head>
<body>
<h1>updating user detail</h1>

<form action="" method="post">
    <label>Name: </label>
    <input type="text" name='name' value="{{datas.Name}}" required>
    <label>Contact_no: </label>
    <input type="number" name="contact_no" value="{{datas.contact_no}}" required>
    <label>City: </label>
    <input type="text" name="city" value="{{datas.city}}" required>
    <input type="submit" name="submit" value="update">

</body>
</html>